*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex p {
  display: flex;
}

.align-center {
  align-items: center;
}

.justyfy-center {
  justify-content: center;
}

.social-medias {
  width: 100%;
  height: 50px;
  background-color: #F5FBFF;
  padding: 12px 0;
  color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.phone ul{
  display: flex;
}

.logo-1{
  font-size: 15px;
  color: #C7C7C7;
  margin: 12px;
  display: inline-block;
}
.logo-1:hover{
  font-size: 15px;
  color: #009DFF;
  margin: 12px;
  display: inline-block;
}
.logo-2{
  font-size: 15px;
  color: #C7C7C7;
  margin: 12px;
  display: inline-block;
}
.logo-2:hover{
  font-size: 15px;
  color: #009DFF;
  margin: 12px;
  display: inline-block;
}
.logo-3{
  font-size: 15px;
  color: #C7C7C7;
  margin: 12px;
  display: inline-block;
}
.logo-3:hover{
  font-size: 15px;
  color: #009DFF;
  margin: 12px;
  display: inline-block;
}

.phone {
  font-size: 13px;
  color: #919191;
  margin-left: 50px;
  display: inline-block;
}

nav {
  background-color: white;
  width: 100%;
  height: 70px;
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: #1F1F1F;
  outline: medium none;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

nav ul {
  display: flex;
  gap: 30px;
  font-size: 20px;
  color: gray;
  font-family: "Poppins", sans-serif;
  font-style: normal;

}

nav ul li:last-child>a,
.slogan a {
  background: #009DFF;
  padding: 12px 26px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}

nav ul li:last-child>a:hover {
  background-color: white;
  color: #009DFF;
  border: 1px solid #009DFF;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}

nav ul li:nth-child(1)>a:hover {
  color: black;
  transition: 0.7s;
}

nav ul li:nth-child(2)>a:hover {
  color: black;
  transition: 0.7s;
}

nav ul li:nth-child(3)>a:hover {
  color: black;
  transition: 0.7s;
}

nav ul li:nth-child(4)>a:hover {
  color: black;
  transition: 0.7s;
}

nav ul li:nth-child(5)>a:hover {
  color: black;
  transition: 0.7s;
}

nav ul li:nth-child(6)>a:hover {
  color: black;
  transition: 0.7s;
}
main {
  width: 100%;
  height: 350px;
}
.slogan {
  background-image: url('../image/banner2.png');
  background-position: center;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
}
.slogan p {
  font-size: 18px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 40px;
  margin-top: 20px;
}
.slogan h1 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.slogan a {
  background-color: #009DFF;
  color: white;
  border: 1px solid #009DFF;
  font-family: "Poppins", sans-serif;
}

.slogan a:hover {
  background-color: white;
  color: #009DFF;
  border: 1px solid #009DFF;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;

}
.services {
  background-color: #83C4FF;
  height: 250px;
  display: flex;
  justify-content: center;
  width: 100%;

}
.services-child {
  padding: 50px;
  width: 34%;
}
.service-title {
  margin-bottom: 15px;
}
.service-para {
  margin-bottom: 15px;
}
.services-child-middle {
  background-color: #5DB2FF;
}
.services-child p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 26px;
}
.services-child h2 {
  font-size: 26px;
  font-weight: 500;
  color: #fff
}
.services-child a {
  padding: 9px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;

}
.services-child a:hover {
  padding: 9px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #fff;
  color: #5DB2FF;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.7s;
}
@media(max-width:1023px){
  .services{
    height: 300px;
  }
}
.welcom-to-docmed {
  background-color: white;
  padding-top: 130px;
  padding-bottom: 220px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.doctor {
  width: 100%;
  height: 70vh;
  position: relative;

}
.aks-1 {
  width: 50%;
  vertical-align: middle;
  border-style: none;
  position: absolute;
  right: 300px;
}
.aks-2 {
  width: 50%;
  bottom: -94px;
  right: -37px;
  position: absolute;
  top: 100px;
  right: 50px;
}
div h2 {
  font-size: 18px;
  font-weight: 400;
  color: #1F1F1F;
  margin-bottom: 40px;
  position: relative;
  z-index: 9;
  padding-bottom: 9px;
}
div h3 {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 10px;
}
div p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}
div ul {
  margin-bottom: 40px;
  margin-top: 25px;
}
div ul li {
  color: #727272;
  font-size: 16px;
  line-height: 28px;
}
div ul li i {
  margin-right: 10px;
  color: #5DB2FF;
}
.boxed-btn3-white-2 {
  color: #5DB2FF;
  padding: 9px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #5DB2FF;
  margin-left: 6px;
}

.boxed-btn3-white-2:hover {
  color: white;
  padding: 9px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #5DB2FF;
  margin-left: 6px;
  background-color: #5DB2FF;
  transition: 0.7s;
}
.Our-Departments {
  width: 100%;
  height: 100%;
  background-color: #F5FBFF;
}
.matn {

  text-align: center;
}
.matn h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  position: relative;
  z-index: 9;
  padding-bottom: 15px;
}
.matn p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
}
.treatment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}
.aks-doctor{
  overflow: hidden;
}
.aks-doctor img{
  transition: all 0.3s ease;
}
.aks-doctor:hover img{
  transform: scale(1.2);
}
.treatment-1 {
  background: #fff;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: auto;
}
.treatment-2 {
  background: #fff;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: auto;
}
.treatment-3 {
  background: #fff;
  margin-bottom: 30px;
  margin-right: 30px;
}
.treatment-4 {
  background: #fff;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: auto;
}
.treatment-5 {
  background: #fff;
  margin-bottom: 30px;
  margin-right: 30px;
}
.treatment-6 {
  background: #fff;
  margin-bottom: 30px;
  margin-right: 30px;
}
.treatment h2 {
  line-height: 33px;
  font-weight: 500;
  font-size: 22px;
}
.treatment p {
  font-size: 16px;
  line-height: 28px;
  color: #727272;
  margin-top: 5px;
  margin-bottom: 10px;
}
.treatment a {
  color: #5DB2FF;
  font-size: 16px;
}
.treatment a:hover {
  color: #5DB2FF;
  font-size: 16px;
}
.Asana-korim {
  background: url(../image/77.png);
  background-position: center;
  background-size: cover;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/77.png);
}
.Asana-korim p {
  color: #fff;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 47px
}
.Asana-korim h3 {
  color: #fff;
  font-size: 13px;
}
.item {
  text-align: center;
  padding-top: 15%;
}
.nav {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  background: #fff
}
.nav-item {
  font-size: 20px;
  font-weight: 400;
  color: black;
  font-family: "Poppins", sans-serif;
}
.matn-2 h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.part-1 {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
}
.matn-2 {
  padding-top: 150px;
  border-bottom: 1px solid gray;
  margin-bottom:70px;
}
.image {
  padding-top: 70px;
  border-bottom: 1px solid gray;
  margin-bottom:70px;
}
.Introduction {
  width: 100%;
  height: 70vh;
}
.expert {
  display: flex;
  justify-content: space-around;
}
.image-child{
  overflow: hidden;
}
.image-child img{
  transition: all 0.3s ease;
}
.image-child:hover img{
  transform: scale(1.2);
}
.asami {
  padding: 25px 50px;
}
.asami h3 {
  font-size: 36px;
  font-weight: 500;
}
.expert-1 {
  background-color: #F5FBFF;
}
.expert-1 h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 67px;
}
.expert-1 span {
  color: #919191;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 85px;
}
.expert-1:hover {
  background-color: #5DB2FF;
  color: #fff;
  transition: 0.7s;
}
.expert-2 {
  background-color: #F5FBFF;
}
.expert-2 h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 67px;
}
.expert-2 span {
  color: #919191;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 85px;
}
.expert-2:hover {
  background-color: #5DB2FF;
  color: #fff;
  transition: 0.7s;
}
.expert-3 {
  background-color: #F5FBFF;
}
.expert-3 h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 67px;
}
.expert-3 span {
  color: #919191;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 85px;
}
.expert-3:hover {
  background-color: #5DB2FF;
  color: #fff;
  transition: 0.7s;
}
.expert-4 {
  background-color: #F5FBFF;
}
.expert-4 h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-left: 67px;
}
.expert-4 span {
  color: #919191;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 85px;
}
.expert-4:hover {
  background-color: #5DB2FF;
  color: #fff;
  transition: 0.7s;
}
.m1 {
  padding: 10px;
}
.Emergency_contact {
  display: flex;
}
.For-Any-Emergency-Contact {
  background-image: linear-gradient(rgba(16, 123, 205, 0.614), rgba(16, 123, 205, 0.614)), url('../image/emergency-1.png');
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Make-an-Online-Appointment {
  background-image: linear-gradient(rgba(16, 123, 205, 0.614), rgba(16, 123, 205, 0.614)), url('../image/emergency-2.png');
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box-1 h2 {
  font-size: 26px;
  font-weight: 500;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: -30px;
}
.box-1 p {
  font-size: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
}
.box-1 a {
  border: 1px solid white;
  color: white !important;
  padding: 9px 24px;
  border-radius: 50px;
}
.box-1 a:hover {
  border: 1px solid white;
  color: #5DB2FF !important;
  padding: 9px 24px;
  border-radius: 50px;
  background-color: white;
  transition: 0.7s;
}
.box-2 h2 {
  font-size: 26px;
  font-weight: 500;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: -30px;
}
.box-2 p {
  font-size: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
}
.box-2 a {
  border: 1px solid white;
  color: white !important;
  padding: 9px 24px;
  border-radius: 50px;
}
.box-2 a:hover {
  border: 1px solid white;
  color: #5DB2FF !important;
  padding: 9px 24px;
  border-radius: 50px;
  background-color: white;
  transition: 0.7s;
}
.list{
  background-color: #1F1F1F;
  display: flex;
  justify-content: space-evenly;
  padding-top: 115px ;
  height: 70vh;
}
.list p{
  color: #C7C7C7
}
.list h3{
  color: white;
  font-size: 20px;
  margin-bottom: 45px;
}
.list ul li{
  font-size: 16px;
  color: #BABABA;
  line-height: 40px;
}
.list ul li:hover{
  font-size: 16px;
  color: #5DB2FF;
  transition: 0.7s;
}
.list-1 img{
  margin-bottom: 45px;
}
.Copyright{
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
@media(max-width:1023px){
  .services{
    height: 300px;
  }
  .welcom-to-docmed{
    flex-direction: column;
    padding-top: 50px;
  }
  .as{
    margin-top: 100px;
    margin-left: 80px;
  }
  .doctor{
    margin-top: 60px;
  }
  .hospital-information ul li{
    font-size: 15px;
  }
  .image img{
    width: 80%;
  }
  .part-1{
    padding-left: 80px;
  }
  .Emergency_contact{
   flex-direction: column;
  }
  .For-Any-Emergency-Contact{
    width: 100% !important;
  }
  .Make-an-Online-Appointment{
    width: 100% !important;
  }
  .list-3{
    flex-direction: column;
  }
  .expert-2{
    display: none;
  }
}
@media(max-width:900px){
  .list{
    flex-direction: column;
    height: 200vh !important;
  }
  .expert-3{
    display: none;
  }
  .aks-2{
    display: none;
  }
  .aks-1{
    width:50vh !important;
  }
}